body{background:green; }

#wrapper{color: green;}





#content{background-color: grey; width: 200; height: 200; float: left; margin-left: 300px; }
#content2{background-color: blue ; width: 200; height: 200; float: right ; margin-right: 300px;}
#content3{background-color: purple ; width: 200; height: 200; clear: both ;margin: 0 auto;}
