h1{color: red; position: absolute; left: 400px}

.crc{width: 500px; height: 200px}
h2{font-size: 100px; position: relative; left: 400px}
.class1 {font-size: 60px; color: blue; position: fixed; left: 600px;}
.class2 {font-family: Impact, Charcoal, sans-serif; font-size: 100px}
.class3 {text-transform: uppercase ;}

.zach{border: purple 5px dotted;
margin: 5px 5px 5px 5px;color: blue;
padding: 20px 20px 20px 20px;}
.jay.2.3 {font-size:100px; font-family: arial, helvetica, sans-serif;}

}
