.red{color: red;text-align: center}

#wraper1{ border: purple 5px dotted;
margin: 5px 10px 30px 10px;
padding: 100px 20px 10px 20px;
color: green;}

#text2{ text-align: center;
color: green;}

#yyz { color: yellow;
font-size: 40px;}

#rd {color: purple;
 }
